<!doctype html>
<html>
<head>
<meta charset='utf-8'/>
<title>vue</title>
<link rel='stylesheet' href='' />
<style type='text/css'>
.cj-m{color:grey;}
.cj-f{color:pink;}
</style>
</head>
<body>
<div id='app'>
	<p>{{message}}{{name}}</p>
	<input type='text' v-model='message' />
	<div v-if='name=="zcj"'>hi master!</div>
	<div v-else='name=="gs"'>hi dear</div>
	<div v-show='name=="zcj"'>zcj is showing</div>
	<ul v-for='p in people'>
		<li>{{p.name}}:{{p.sex}}</li>
	</ul>
	<div v-bind:class="name=='zcj'?'cj-m':'cj-f'">{{name}}</div>
	<div v-on:click="say()">click</div>
	
	<div :class="name=='zcj'?'cj-m':'cj-f'">{{name}}</div>
	<div @click="say()">click</div>
</div>
<script src='js/vue.js'></script>
<script>
var exampleData={
	message:'hello!',
	name:'gs',
	people:[{'name':'zcj','sex':'m'},{'name':'gs','sex':'f'}]
}

console.log('testtttt');

var vm=new Vue({el:'#app',data:exampleData,methods:{
		say:function(){
			alert('clicked');
		}
	}
});
</script>
</body>
</html>
